<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.JohoListDao">
    <resultMap id="kyushokuListResult" type="com.example.entity.Kyushoku">
        <result column="KS_ID" property="KSId"/>
        <result column="KOJIN_ID" property="kojinId"/>
        <result column="YAKUSHOKU_NAME" property="yakuShokuName"/>
        <result column="YAKUSHOKU_SHIMEI" property="kojinName"/>
        <result column="YAKUSHOKU_WORK" property="kiboShokuGyo"/>
        <result column="KYOYU" property="kyoyu"/>
        <result column="JUSHO1" property="jusho1"/>
        <result column="JUSHO2" property="jusho2"/>
        <result column="JUSHO3" property="jusho3"/>
        <result column="TELE" property="tele"/>
        <result column="MAIL" property="mail"/>
        <result column="BIKO" property="biko"/>
        <result column="KOUSHIN_SHA" property="kouShinSha"/>
        <result column="KOUSHIN_HIDUKE" property="kouShinHiDuke"/>
        <result column="SAKUSEI_SHA" property="sakuSeiSha"/>
        <result column="SAKUSEI_HIDUKE" property="sakuSeiHiDuke"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="STATUS" property="status"/>
    </resultMap>
    <!--  查询求职详细信息  -->
    <select id="kyushokuList" resultMap="kyushokuListResult"  >
        select KS_ID, KOJIN_ID, YAKUSHOKU_NAME, YAKUSHOKU_SHIMEI,
               YAKUSHOKU_WORK, KYOYU, JUSHO1, JUSHO2, JUSHO3, TELE, MAIL, BIKO,
               KOUSHIN_SHA, KOUSHIN_HIDUKE, SAKUSEI_SHA, SAKUSEI_HIDUKE, DEL_FLAG,
               STATUS
        from KYUSHOKU_TABLE
    </select>


</mapper>
