<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.kyushokuListDao">
    <resultMap id="kyushokuListResult" type="com.example.entity.Kyushoku">
        <result column="KS_ID" property="KSId"/>
        <result column="KOJIN_ID" property="kojinId"/>
        <result column="SHIMEI_KANJI" property="kojinName"/>
        <result column="YAKUSHOKU" property="yakuShokuName"/>
        <result column="YAKUSHOKU_WORK" property="kiboShokuGyo"/>
        <result column="KYOYU" property="kyoyu"/>
        <result column="JUSHO1" property="jusho1"/>
        <result column="JUSHO2" property="jusho2"/>
        <result column="JUSHO3" property="jusho3"/>
        <result column="TELE" property="tele"/>
        <result column="MAIL" property="mail"/>
        <result column="BIKO" property="biko"/>
        <result column="KOUSHIN_SHA" property="kouShinSha"/>
        <result column="KOUSHIN_HIDUKE" property="kouShinHiDuke"/>
        <result column="SAKUSEI_SHA" property="sakuSeiSha"/>
        <result column="SAKUSEI_HIDUKE" property="sakuSeiHiDuke"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="STATUS" property="status"/>
    </resultMap>
    <resultMap id="kojinListResult" type="com.example.entity.Kojin">
        <result column="KOJIN_ID" property="kojinId"/>
        <result column="SHIMEI_KANJI" property="shimeKanji"/>
        <result column="RIREKI_SU" property="rirekiSu"/>
        <result column="KOUSHIN_SHA" property="kouShinSha"/>
        <result column="KOUSHIN_HIDUKE" property="kouShinHiDuke"/>
        <result column="SAKUSEI_SHA" property="sakuSeiSha"/>
        <result column="SAKUSEI_HIDUKE" property="sakuSeiHiDuke"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="STATUS" property="status"/>
    </resultMap>
    <!--  查询求职详细信息  -->
    <select id="kyushokuList" resultMap="kyushokuListResult"  >
        select KS_ID, KOJIN_ID, SHIMEI_KANJI, YAKUSHOKU, YAKUSHOKU_WORK, KYOYU,
               JUSHO1, JUSHO2, JUSHO3, TELE, MAIL, BIKO, KOUSHIN_SHA, KOUSHIN_HIDUKE,
               SAKUSEI_SHA, SAKUSEI_HIDUKE, DEL_FLAG, STATUS
        from KYUSHOKU_TABLE
        where DEL_FLAG = 0
    </select>

    <!--  追加kojin  -->
    <insert id="addKojin" parameterType="com.example.entity.Kojin" useGeneratedKeys="true" >
        <selectKey resultType="java.lang.Integer" keyProperty="KojinId" order="AFTER" >
            select S_KOJIN.currval AS KojinId from dual
        </selectKey>
        insert into KOJIN_TABLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="KojinId != null">KOJIN_ID,</if>
            <if test="ShimeKanji != null">SHIMEI_KANJI,</if>
            <if test="RirekiSu != null">RIREKI_SU,</if>
            <if test="KouShinSha != null">KOUSHIN_SHA,</if>
            <if test="KouShinHiDuke != null">KOUSHIN_HIDUKE,</if>
            <if test="SakuSeiSha != null">SAKUSEI_SHA,</if>
            <if test="SakuSeiHiDuke != null">SAKUSEI_HIDUKE,</if>
            <if test="DelFlag != null">DEL_FLAG,</if>
            <if test="Status != null">STATUS,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="KojinId != null">#{KojinId},</if>
            <if test="ShimeKanji != null">#{ShimeKanji},</if>
            <if test="RirekiSu != null">#{RirekiSu},</if>
            <if test="KouShinSha != null">#{KouShinSha},</if>
            <if test="KouShinHiDuke != null">#{KouShinHiDuke},</if>
            <if test="SakuSeiSha != null">#{SakuSeiSha},</if>
            <if test="SakuSeiHiDuke != null">#{SakuSeiHiDuke},</if>
            <if test="DelFlag != null">#{DelFlag},</if>
            <if test="Status != null">#{Status},</if>
        </trim>
    </insert>
    <!--  追加kyushoku  -->
    <insert id="addKyuShoku" parameterType="com.example.entity.Kyushoku" useGeneratedKeys="true" >
        <selectKey resultType="java.lang.Integer" keyProperty="KSId" order="AFTER" >
            select S_KYUSHOKU.currval AS KSId from dual
        </selectKey>
        insert into KYUSHOKU_TABLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="KSId != null">KS_ID,</if>
            <if test="KojinId != null">KOJIN_ID,</if>
            <if test="KojinName != null">SHIMEI_KANJI,</if>
            <if test="YakuShokuName != null">YAKUSHOKU,</if>
            <if test="KiboShokuGyo != null">YAKUSHOKU_WORK,</if>
            <if test="Kyoyu != null">KYOYU,</if>
            <if test="Jusho1 != null">JUSHO1,</if>
            <if test="Jusho2 != null">JUSHO2,</if>
            <if test="Jusho3 != null">JUSHO3,</if>
            <if test="Tele != null">TELE,</if>
            <if test="Mail != null">MAIL,</if>
            <if test="Biko != null">BIKO,</if>
            <if test="KouShinSha != null">KOUSHIN_SHA,</if>
            <if test="KouShinHiDuke != null">KOUSHIN_HIDUKE,</if>
            <if test="SakuSeiSha != null">SAKUSEI_SHA,</if>
            <if test="SakuSeiHiDuke != null">SAKUSEI_HIDUKE,</if>
            <if test="DelFlag != null">DEL_FLAG,</if>
            <if test="Status != null">STATUS,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="KSId != null">#{KSId},</if>
            <if test="KojinId != null">#{KojinId},</if>
            <if test="KojinName != null">#{KojinName},</if>
            <if test="YakuShokuName != null">#{YakuShokuName},</if>
            <if test="KiboShokuGyo != null">#{KiboShokuGyo},</if>
            <if test="Kyoyu != null">#{Kyoyu},</if>
            <if test="Jusho1 != null">#{Jusho1},</if>
            <if test="Jusho2 != null">#{Jusho2},</if>
            <if test="Jusho3 != null">#{Jusho3},</if>
            <if test="Tele != null">#{Tele},</if>
            <if test="Mail != null">#{Mail},</if>
            <if test="Biko != null">#{Biko},</if>
            <if test="KouShinSha != null">#{KouShinSha},</if>
            <if test="KouShinHiDuke != null">#{KouShinHiDuke},</if>
            <if test="SakuSeiSha != null">#{SakuSeiSha},</if>
            <if test="SakuSeiHiDuke != null">#{SakuSeiHiDuke},</if>
            <if test="DelFlag != null">#{DelFlag},</if>
            <if test="Status != null">#{Status},</if>
        </trim>
    </insert>

    <!--  根据id查询Kyushoku详细信息  -->
    <select id="idByKyushoku" parameterType="Integer" resultMap="kyushokuListResult">
        select KS_ID, KOJIN_ID, SHIMEI_KANJI, YAKUSHOKU, YAKUSHOKU_WORK, KYOYU,
               JUSHO1, JUSHO2, JUSHO3, TELE, MAIL, BIKO, KOUSHIN_SHA, KOUSHIN_HIDUKE,
               SAKUSEI_SHA, SAKUSEI_HIDUKE, DEL_FLAG, STATUS
        from KYUSHOKU_TABLE
        where KS_ID = #{KSId}
    </select>
    <!--  根据id查询kojin详细信息  -->
    <select id="idByKojin" parameterType="Integer" resultMap="kojinListResult">
        select KOJIN_ID, SHIMEI_KANJI, RIREKI_SU, KOUSHIN_SHA, KOUSHIN_HIDUKE,
               SAKUSEI_SHA, SAKUSEI_HIDUKE, DEL_FLAG, STATUS
        from KOJIN_TABLE
        where KOJIN_ID = #{KojinId}
    </select>
    <!--  追加kojin  -->
    <update id="updateKojin" parameterType="com.example.entity.Kojin"  useGeneratedKeys="true" >
        UPDATE AIDIJAVA.KOJIN_TABLE
        <trim suffixOverrides="," prefix="SET">
           <if test="ShimeKanji != null">SHIMEI_KANJI = #{ShimeKanji},</if>
           <if test="RirekiSu != null">RIREKI_SU = #{RirekiSu},</if>
           <if test="KouShinSha != null">KOUSHIN_SHA = #{KouShinSha},</if>
           <if test="KouShinHiDuke != null">KOUSHIN_HIDUKE = #{KouShinHiDuke},</if>
           <if test="SakuSeiSha != null">SAKUSEI_SHA = #{SakuSeiSha},</if>
           <if test="SakuSeiHiDuke != null">SAKUSEI_HIDUKE = #{SakuSeiHiDuke},</if>
           <if test="DelFlag != null">DEL_FLAG = #{DelFlag},</if>
           <if test="Status != null">STATUS = #{Status},</if>
        </trim>
        WHERE KOJIN_ID = #{KojinId}
    </update>
    <!--　変更kyushoku -->
    <update id="updateKyuShoku" parameterType="com.example.entity.Kyushoku" useGeneratedKeys="true" >
        UPDATE AIDIJAVA.KYUSHOKU_TABLE
        <trim suffixOverrides="," prefix="SET">
            <if test="KojinName != null">SHIMEI_KANJI = #{KojinName},</if>
            <if test="YakuShokuName != null">YAKUSHOKU = #{YakuShokuName},</if>
            <if test="KiboShokuGyo != null">YAKUSHOKU_WORK = #{KiboShokuGyo},</if>
            <if test="Kyoyu != null">KYOYU = #{Kyoyu},</if>
            <if test="Jusho1 != null">JUSHO1 = #{Jusho1},</if>
            <if test="Jusho2 != null">JUSHO2 = #{Jusho2},</if>
            <if test="Jusho3 != null">Jusho3 = #{Jusho3},</if>
            <if test="Tele != null">TELE = #{Tele},</if>
            <if test="Mail != null">Mail = #{Mail},</if>
            <if test="Biko != null">Biko = #{Biko},</if>
            <if test="KouShinSha != null">KouShinSha = #{KouShinSha},</if>
            <if test="KouShinHiDuke != null ">KouShinHiDuke = #{KouShinHiDuke},</if>
            <if test="SakuSeiSha != null">SakuSeiSha = #{SakuSeiSha},</if>
            <if test="SakuSeiHiDuke != null">SakuSeiHiDuke = #{SakuSeiHiDuke},</if>
            <if test="DelFlag != null">DEL_FLAG = #{DelFlag},</if>
            <if test="Status != null">STATUS = #{Status},</if>
        </trim>
        WHERE KS_ID = #{KSId}
    </update>

</mapper>
