<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.Userdao">

<!--  根据用户名查询用户  -->
    <select id="findByUserName" parameterType="String" resultType="USER" >
        select U_ID, U_NAME, U_PASSWORD, KOUSHIN_SHA, KOUSHIN_HIDUKE,
               SAKUSEI_SHA, SAKUSEI_HIDUKE, DEL_FLAG, STATUS, MAIL from USER_TABLE
         where U_NAME = #{username}

    </select>
    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into USER_TABLE
        (U_ID, U_NAME, U_PASSWORD, KOUSHIN_SHA, KOUSHIN_HIDUKE, SAKUSEI_SHA,
         SAKUSEI_HIDUKE, DEL_FLAG, STATUS, MAIL)
        values(#{U_ID}, #{U_NAME}, #{U_PASSWORD}, #{KOUSHIN_SHA}, #{KOUSHIN_HIDUKE}, #{SAKUSEI_SHA},
               #{SAKUSEI_HIDUKE}, #{DEL_FLAG}, #{STATUS}, #{MAIL});
    </insert>

</mapper>
